<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>

	<section class="layout-content" layout:fragment="corpo">

		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><i class="oi oi-caret-right"></i>
						<span th:text="#{cliente.cadastrar.label}"></span></li>
				</ul>
			</div>
			<a class="btn btn-primary btn-md" th:href="@{/clientes/listar}"
				role="button"> <span class="oi oi-spreadsheet" title="Listar"
				aria-hidden="true"></span> <span th:text="#{cliente.listar.label}"></span>
			</a>
		</nav>

		<div class="container" id="cadastro">

			<div th:replace="fragments/alert"></div>

			<form
				th:action="${cliente.id == null} ? @{/clientes/salvar} : @{/clientes/editar}"
				th:object="${cliente}" method="POST">


				<div class="form-row">
					<div class="form-group col-md-6">
						<label th:text="#{cliente.cpf.label}" for="CPF"></label> 
						<input type="text" class="form-control" id="CPF" placeholder="CPF"
							autofocus="autofocus" th:field="*{CPF}"
							th:classappend="${#fields.hasErrors('CPF')} ? is-invalid" />
						
						<div class="invalid-feedback">
							<span th:errors="*{CPF}"></span>
						</div>
					</div>

					<div class="form-group col-md-6">
						<label th:text="#{cliente.telefone.label}" for="telefone"></label> 
						<input type="text" class="form-control" id="telefone" placeholder="Telefone"
							autofocus="autofocus" th:field="*{telefone}"
							th:classappend="${#fields.hasErrors('telefone')} ? is-invalid" />
						
						<div class="invalid-feedback">
							<span th:errors="*{telefone}"></span>
						</div>
					</div>

					<div class="form-group col-md-6">
						<label th:text="#{cliente.sexo.label}" for="sexo"></label> 
						<input type="text" class="form-control" id="sexo" placeholder="Sexo"
							autofocus="autofocus" th:field="*{sexo}"
							th:classappend="${#fields.hasErrors('sexo')} ? is-invalid" />
						
						<div class="invalid-feedback">
							<span th:errors="*{sexo}"></span>
						</div>
					</div>


					<div class="form-group col-md-6">
						<label th:text="#{cliente.dataNascimento.label}" for="dataNascimento"></label> 
						<input type="date" class="form-control" id="dataNascimento" placeholder="Data de Nascimento"
							autofocus="autofocus" th:field="*{dataNascimento}"
							th:classappend="${#fields.hasErrors('dataNascimento')} ? is-invalid" />
						
						<div class="invalid-feedback">
							<span th:errors="*{dataNascimento}"></span>
						</div>
					</div>

					<div class="form-group col-md-6">
						<label th:text="#{cliente.email.label}" for="email"></label>
						<input type="email" class="form-control" id="email" placeholder="E-mail"
							autofocus="autofocus" th:field="*{email}"
							th:classappend="${#fields.hasErrors('email')} ? is-invalid" />
					
						<div class="invalid-feedback">
							<span th:errors="*{email}"></span>
						</div>
					</div>
					
					<div class="form-group col-md-6">
						<label th:text="#{cliente.nome.label}" for="name"></label>
						<input type="text" class="form-control" id="name" placeholder="Nome"
							   autofocus="autofocus" th:field="*{name}"
							   th:classappend="${#fields.hasErrors('name')} ? is-invalid" />
					
						<div class="invalid-feedback">
							<span th:errors="*{name}"></span>
						</div>
					</div>

					<div class="form-group col-md-6">
						<label th:text="#{cliente.papel.label}" for="role"></label>
						<input type="text" class="form-control" id="role" placeholder="Papel"
							   autofocus="autofocus" th:field="*{role}"
							   th:classappend="${#fields.hasErrors('role')} ? is-invalid" />
					
						<div class="invalid-feedback">
							<span th:errors="*{role}"></span>
						</div>
					</div>
					
					

				<input type="hidden" id="id" th:field="*{id}" />
				<button type="submit" th:text="#{button.salvar.label}"
					class="btn btn-primary btn-sm"></button>
			</form>
		</div>
	</section>
</body>
</html>